body {
	font-family: "Robot Mono";
	font-size: 25px;
	color: #FFFFFF;
	background: rgb(24 24 27);
}

a {
	text-decoration: none;
	font-size: 20px;
	color: #3B82F6;
}

.small-text {
	color: #3f3f46;
	font-size: 15px; 
	font-style: italic; 
}

.blog {
	padding: 5px;
	margin-right: 10px;
	border-radius: 10px;
	background: #18181B;
}

.blog:hover {
	padding: 5px;
	margin-right: 10px;
	border-radius: 25px;
	background: #1B1B1F;
}

.NASA {
	font-size: 20px;
	border-radius: 10px; 
    padding: 4px;
	margin-left: 10px;
    color: rgba(0, 133, 214, 1);
    background: rgba(0, 133, 214, 0.4);
}

.vulnerability {
	font-size: 20px;
	border-radius: 10px; 
    padding: 4px;
	margin-left: 10px;
	color: rgba(255, 34, 32, 0.8);
	background: rgba(255, 34, 32, 0.4);
}

.Programming {
	font-size: 20px;
	border-radius: 10px; 
    padding: 4px;
	margin-left: 10px;
	color: rgba(57, 132, 100, 0.9);
    background: rgba(57, 132, 100, 0.5);
}

.news {
	font-size: 20px;
	border-radius: 10px; 
    padding: 4px;
	margin-left: 10px;
	color: rgba(40, 222, 38, 0.9);
    background: rgba(40, 222, 38, 0.2);
}

.bypass {
	font-size: 20px;
	border-radius: 10px; 
    padding: 4px;
	margin-left: 10px;
	color: grey;
    background: rgba(43, 41, 45, 0.8);
}
