body {
	font-family: "Robot Mono";
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	background: #232323;
	word-wrap: wrap;
}

a:link {
	color: #FFFFFF;
}

a:visited {
	color: yellow;
}

a:hover {
  color: hotpink;
}

a:active {
  color: green;
}
